*{
    padding: 0;
    margin: 0;
}
@media (max-width:600px){
    .body{
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
}
}


.body{
    background-color: #fdf0e9;
    color: #f7f6f5;
    font-family: Arial, sans-serif;
    text-align: center;
}
.header{
        background-image: url('../assets/img/geme 3.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* La imagen se ajustará al tamaño del encabezado */
        background-position: center; /* La imagen se centrará en el encabezado */
        color: #ffefcc; /* Color del texto en el encabezado */
        text-align: center; /* Centra el texto horizontalmente */
        padding: 100px 0; /* Espacio interno en el encabezado (arriba y abajo) */
        font-family: 'Dancing Script', cursive;
        font-size: 40px;
        
    
}
    /* Estilos para el texto en el encabezado */
    .header h1 {
        font-size: 36px;
       
 }
 .titulosh{
    padding: 0px;
    animation: flicker 1.5s infinite;
 }
 .boton{
    background-color: #be8e75;
    color: #fffbfb;
    border: none;
    padding: 10px 20px;
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto moderno */
    transition: background-color 0.3s, transform 0.2s;
 }
 .boton:hover {
    background-color: #92512e; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Escala el botón al pasar el mouse para un efecto de crecimiento */
}
.h5{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #92512e;
}
.iconos{
    height: 67pt;
    width: 67pt;
}
.dc{
    color: #be8e75;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.dc2{
    color: #8f6651;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.rg{
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 5px;
}
.cancionero{
    padding: 50px;
}
.slider{
    aspect-ratio: 10 / 16;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}
.footer {
    background-color: #ffffffab;
    color: #92512e;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: 0;
}


#cuenta{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.simply-amount{
    display: block;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color: #92512e;
}
.simply-section{
    width: 80px;
    height: 80px;
    margin: 0 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simply-word{
    color: #e7c964;
    font-family: 'Dancing Script', cursive;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.db{
    color: black;
}

 
.iconos2{
    height: 27pt;
    width: 27pt;
}
.h52{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #92512e;
}
audio {
    display: none; /* Oculta los controles de audio */
  }
  .fontTarjeta{
    font-family: 'Handlee', cursive;
    color: #be8e75;
  }
  .colorMarron{
    color: #92512e;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }
  .background{
    background-color: #be8e75;
  }

  .fondoPag{
    background-color: #fdf0e9;
  }
  .background2{
    background-color: #b18a76;
  }

  .tituloCuentaRegresiva{
    font-family: 'Tangerine', cursive;
    color: #5e2b11;
  }
  .tEsperamos{
    font-family: 'Tangerine', cursive;
    color: rgb(77, 54, 18);
    font-size: 50px;
  }